<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | Results</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="../images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="../plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="../plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="../plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="../plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="../plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="../plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/response.css">
    <link rel="stylesheet" href="../css/results.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="../plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="../images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>

                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>

                                    <% } %>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--
              End Fixed Navigation
              ==================================== -->
    <div class="buffer" id="buffer" style="height: 116px;"></div>

    <section class="service-2 section">
        <div class="grid-container">
            <% let iCount=0; %>

                <div class="grid-item">Survey Number</div>
                <div class="grid-item">
                    <%= resultobject[iCount].survey_id %>
                </div>

                <div class="grid-item">Time Stamp</div>
                <div class="grid-item">
                    <%= resultobject[iCount].formatted_time_stamp %>
                </div>

                <div class="grid-item">Age</div>
                <div class="grid-item">
                    <%= resultobject[iCount].age %>
                </div>

                <div class="grid-item">Gender</div>
                <div class="grid-item">
                    <%= resultobject[iCount].gender_description %>
                </div>

                <div class="grid-item">Relationship</div>
                <div class="grid-item">
                    <%= resultobject[iCount].relationship_status_description %>
                </div>

                <div class="grid-item">Occupation</div>
                <div class="grid-item">
                    <%= resultobject[iCount].occupation_description %>
                </div>

                <div class="grid-item">Location</div>
                <div class="grid-item">
                    <%= resultobject[iCount].location %>
                </div>

                <div class="grid-item">Do you use social media</div>
                <div class="grid-item capitalize">
                    <%= resultobject[iCount].use_social %>
                </div>

                <div class="grid-item">Social Media Used</div>
                <div class="grid-item">

                    <%= resultobject[iCount].social_media_platforms%>

                </div>

                <div class="grid-item">Organizations</div>
                <div class="grid-item">

                    <%= resultobject[iCount].organizations%>

                </div>

                <div class="grid-item">Daily usage of social media</div>
                <div class="grid-item">
                    <%= resultobject[iCount].time_spent_on_social_media %>
                </div>

                <div class="grid-item">How often using social media without purpose</div>
                <div class="grid-item">
                    <%= resultobject[iCount].frequency_of_social_media_distraction %>
                </div>

                <div class="grid-item">How often distracted by social media</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_often_distracted %>
                </div>

                <div class="grid-item">Do you feel restless without using social media</div>
                <div class="grid-item">
                    <%= resultobject[iCount].feel_restless %>
                </div>

                <div class="grid-item">How easily distracted</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_easily_distracted %>
                </div>

                <div class="grid-item">How much are you bothered by worries</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_much_worry %>
                </div>

                <div class="grid-item">Difficulty concentrating</div>
                <div class="grid-item">
                    <%= resultobject[iCount].difficulty_concentrating %>
                </div>

                <div class="grid-item">How often comparing self to others on social media</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_often_compare %>
                </div>

                <div class="grid-item">How you feel regarding comparisons</div>
                <div class="grid-item">
                    <%= resultobject[iCount].comparison_feelings %>
                </div>

                <div class="grid-item">How often seeking validation from social media</div>
                <div class="grid-item">
                    <%= resultobject[iCount].seek_validation_from_social_media %>
                </div>

                <div class="grid-item">How often feeling depressed</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_often_depressed %>
                </div>

                <div class="grid-item">Fluctuation of interest in activities</div>
                <div class="grid-item">
                    <%= resultobject[iCount].frequency_of_changing_interests %>
                </div>

                <div class="grid-item">How often facing sleep issues</div>
                <div class="grid-item">
                    <%= resultobject[iCount].how_often_sleep_issues %>
                </div>


        </div>

    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-ms-4">
                    <h6>
                        <a href="">
                            <img class="img-fluid" src="images/logo.png" alt="">
                        </a>
                    </h6>
                </div>
            </div>
        </div>
    </footer>

    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2023, SOCIAL SENSE | PROVO CITY
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-center text-lg-left">
                        Designed and Developed By SOCIAL SENSE</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Essential jQuery Plugins
		================================================== -->

    <!-- Twitter Bootstrap -->
    <script src="../plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="../plugins/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="../plugins/jquery.fancybox.pack.js"></script>
    <!-- Owl Carousel -->
    <script src="../plugins/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="../plugins/isotope.pkgd.min.js"></script>
    <script src="../plugins/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="../plugins/jquery.slitslider.js"></script>
    <script src="../plugins/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="../plugins/wow.min.js"></script>


    <script src="../js/main.js"></script>



</body>

</html>