<!DOCTYPE html>


<html lang="en" class="no-js">




<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense Results</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business,
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">


    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />


    <!-- CSS
        ================================================== -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hhurz/tableExport.jquery.plugin/tableExport.js"></script>
    <script src="/js/jquery.base64.js"></script>
    <!-- Other scripts as needed -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">
    <link rel="stylesheet" href="css/results.css">



    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">





</head>


<body id="body">


    <!-- preloader -->
    <!-- <div id="preloader">
                <div class="loder-box">
                    <div class="battery"></div>
                </div>
        </div> -->
    <!-- end preloader -->


    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>


                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>


                                    <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="buffer" id="buffer" style="height: 116px;"></div>

    <main class="site-content" role="main">
        <section class="service-2 section results-page">

            <form class="filters" method="post" action="/results">
                <div>
                    <!-- Month Filter -->
                    <select id="monthFilter" name="month">
                        <option value="all" <%=filters.month==='all' ? 'selected' : '' %>>All Months</option>
                        <option value="01" <%=filters.month==='01' ? 'selected' : '' %>>January</option>
                        <option value="02" <%=filters.month==='02' ? 'selected' : '' %>>February</option>
                        <option value="03" <%=filters.month==='03' ? 'selected' : '' %>>March</option>
                        <option value="04" <%=filters.month==='04' ? 'selected' : '' %>>April</option>
                        <option value="05" <%=filters.month==='05' ? 'selected' : '' %>>May</option>
                        <option value="06" <%=filters.month==='06' ? 'selected' : '' %>>June</option>
                        <option value="07" <%=filters.month==='07' ? 'selected' : '' %>>July</option>
                        <option value="08" <%=filters.month==='08' ? 'selected' : '' %>>August</option>
                        <option value="09" <%=filters.month==='09' ? 'selected' : '' %>>September</option>
                        <option value="10" <%=filters.month==='10' ? 'selected' : '' %>>October</option>
                        <option value="11" <%=filters.month==='11' ? 'selected' : '' %>>November</option>
                        <option value="12" <%=filters.month==='12' ? 'selected' : '' %>>December</option>
                    </select>

                </div>
                <div>
                    <!-- Day Filter -->
                    <select id="dayFilter" name="day">
                        <option value="all" <%=filters.day==='all' ? 'selected' : '' %>>All Days</option>
                        <% for(let i=1; i <=31; i++) { %>
                            <% let day=i < 10 ? '0' + i : '' + i; %>
                                <option value="<%= day %>" <%=filters.day===day ? 'selected' : '' %>><%= i %>
                                </option>
                                <% } %>
                    </select>

                </div>

                <div>
                    <select id="yearFilter" name="year" onchange="filterResults()">
                        <option value="" disabled selected>Select a Year</option>
                        <option value="all">All</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <!-- Add more year options as needed -->
                    </select>
                </div>

                <div>
                    <select id="genderFilter" name="gender" onchange="filterResults()">
                        <option value="all">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Non-binary">Non-binary</option>
                        <option value="Trans">Trans</option>
                        <option value="Other">Other</option>
                        <!-- Add more gender options as needed -->
                    </select>
                </div>

                <!-- Location Filter -->
                <select id="locationFilter" name="location">
                    <option value="all" <%=filters.location==='all' ? 'selected' : '' %>>All</option>
                    <option value="Provo" <%=filters.location==='Provo' ? 'selected' : '' %>>Provo</option>
                    <option value="Plainsville" <%=filters.location==='Plainsville' ? 'selected' : '' %>>Plainsville
                    </option>
                    <!-- Add more location options as needed -->
                </select>

                <!-- Occupation Filter -->
                <select id="occupationFilter" name="occupation">
                    <option value="all" <%=filters.occupation==='all' ? 'selected' : '' %>>All</option>
                    <option value="University Student" <%=filters.occupation==='University Student' ? 'selected' : '' %>
                        >University
                        Student</option>
                    <option value="School Student" <%=filters.occupation==='School Student' ? 'selected' : '' %>>School
                        Student</option>
                    <option value="Salaried Worker" <%=filters.occupation==='Salaried Worker' ? 'selected' : '' %>
                        >Salaried Worker</option>
                    <option value="Retired" <%=filters.occupation==='Retired' ? 'selected' : '' %>>Retired</option>
                    <!-- Add more occupation options as needed -->
                </select>

                <!-- Relationship Filter -->
                <select id="relationshipFilter" name="relationship">
                    <option value="all" <%=filters.relationship==='all' ? 'selected' : '' %>>All</option>
                    <option value="Single" <%=filters.relationship==='single' ? 'selected' : '' %>>Single</option>
                    <option value="In a relationship" <%=filters.relationship==='In a relationship' ? 'selected' : '' %>
                        >In a
                        relationship</option>
                    <option value="Married" <%=filters.relationship==='Married' ? 'selected' : '' %>>Married</option>
                    <option value="Divorced" <%=filters.relationship==='Divorced' ? 'selected' : '' %>>Divorced</option>
                    <!-- Add more relationship options as needed -->
                </select>


                <input type="submit" name="submit" id="" value="Apply Filter" class="btn btn-blue btn-sm">
                <a href="/results" class="btn btn-blue btn-sm">Clear Filter</a>
            </form>

            <div class="btn-group">
                <button type="button" class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-export"></span> Export
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'json', escape:'false'});">JSON</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'xml', escape:'false'});">XML</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'png', escape:'false'});">PNG</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'csv', escape:'false'});">CSV</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'txt', escape:'false'});">TXT</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'sql', escape:'false'});">SQL</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'doc', escape:'false'});">MS-Word</a>
                    </li>
                    <li><a href="#"
                            onClick="$('#results-table').tableExport({type:'excel', escape:'false'});">Ms-Excel</a></li>
                    <li><a href="#"
                            onClick="$('#results-table').tableExport({type:'ppt', escape:'false'});">Ms-Powerpoint</a>
                    </li>
                    <li><a href="#" onClick="$('#results-table').tableExport({type:'pdf', escape:'false'});">PDF</a>
                    </li>
                </ul>
            </div>

            <table class="table-style" id="results-table">

                <thead>
                    <tr>
                        <th>Survey Number</th>

                        <th>
                            Time Stamp
                        </th>

                        <th>Gender
                        </th>
                        <th>Age</th>
                        <th>Location
                        </th>
                        <th>Relationship
                        </th>
                        <th>Occupation
                        </th>
                        <th>See More</th>
                    </tr>
                </thead>
                <tbody id="surveyResultsTable">
                    <% for (let iCount=0; iCount < surveyresults.length; iCount++) { %>
                        <tr>
                            <td>
                                <%= surveyresults[iCount].survey_id %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].formatted_time_stamp %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].gender_description %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].age %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].location %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].relationship_status_description %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].occupation_description %>
                            </td>
                            <td>
                                <a class="see-more" href="/choosesurvey/<%= surveyresults[iCount].survey_id %>">See
                                    More</a>
                            </td>
                        </tr>


                        <% } %>
                </tbody>
            </table>


        </section>
    </main>
    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>


    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->


    <script src="js/main.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editButtons = document.querySelectorAll('.edit-btn');


            editButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var userId = this.getAttribute('data-survey-id');
                    var editForm = document.getElementById('edit-form-' + userId);


                    // Toggle the display of the edit form
                    if (editForm.style.display === 'none') {
                        editForm.style.display = 'table-row';
                    } else {
                        editForm.style.display = 'none';
                    }
                });
            });


            // Add logic for saving changes here
            // ...
        });
    </script>


</body>


</html>