<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Blue Pro</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">
    <link rel="stylesheet" href="css/results.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <% if (!user) { %>
                                <a class="nav-link" href="/login" id="login">Login</a>
                                <% } else if (user && user.admin) { %>
                                    <!-- Show this if user has specific permissions -->
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                    <a class="nav-link" href="/logout">Logout</a>
                                    <% } else { %>
                                        <!-- Show this for general logged-in users -->
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                        <a class="nav-link" href="/logout">Logout</a>
                                        <% } %>
                        </li>-


                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="buffer" id="buffer" style="height: 116px;"></div>

    <script>
        function search() {
            // Get the input value
            var input = document.getElementById("searchInput").value.toLowerCase();
    
            // Get the table body
            var surveyResultsTable = document.getElementById("surveyResultsTable");
    
            // Get all rows in the table body
            var rows = surveyResultsTable.getElementsByTagName("tr");
    
            // Loop through rows and hide/show based on the search query
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var cells = row.getElementsByTagName("td");
                var rowVisible = false;
    
                // Loop through cells and check if any cell contains the search query
                for (var j = 0; j < cells.length; j++) {
                    var cellText = cells[j].innerText.toLowerCase();
                    if (cellText.includes(input)) {
                        rowVisible = true;
                        break;
                    }
                }
    
                // Show/hide the row based on visibility
                if (rowVisible) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
        function filterByGender() {
        var selectedGender = document.getElementById("genderFilter").value;
        var rows = document.getElementById("surveyResultsTable").getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var genderCell = row.getElementsByTagName("td")[2]; // Assuming gender is the third column

            if (selectedGender === "all" || genderCell.innerText.toLowerCase() === selectedGender) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
    </script>

    <main class="site-content" role="main">
        <section class="service-2 section results-page">
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search...">
                <button onclick="search()">Search</button>
            </div>
            <table class="table-style">
                <thead>
                    <tr>
                        <th>Survey Number</th>
                        <th>Time Stamp</th>
                        <th>Gender
                            <select id="genderFilter" onchange="filterByGender()">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="all">Non-binary</option>
                                <option value="all">Trans</option>
                                <option value="all">Other</option>
                                <!-- Add more gender options as needed -->
                            </select>
                        </th>
                        <th>Age</th>
                        <th>Location</th>
                        <th>Relationship</th>
                        <th>Occupation</th>
                        <th>See More</th>
                    </tr>
                </thead>
                <tbody id="surveyResultsTable">
                    <% for (let iCount=0; iCount < surveyresults.length; iCount++) { %>
                        <tr>
                            <td>
                                <%= surveyresults[iCount].survey_id %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].formatted_time_stamp %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].gender_description %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].age %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].location %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].relationship_status_description %>
                            </td>
                            <td>
                                <%= surveyresults[iCount].occupation_description %>
                            </td>
                            <td>
                                <a class="see-more" href="/choosesurvey/<%= surveyresults[iCount].survey_id %>">See
                                    More</a>
                            </td>

                        </tr>

                        <% } %>
                </tbody>
            </table>

        </section>
    </main>
    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>

    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->

    <script src="js/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editButtons = document.querySelectorAll('.edit-btn');

            editButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var userId = this.getAttribute('data-survey-id');
                    var editForm = document.getElementById('edit-form-' + userId);

                    // Toggle the display of the edit form
                    if (editForm.style.display === 'none') {
                        editForm.style.display = 'table-row';
                    } else {
                        editForm.style.display = 'none';
                    }
                });
            });

            // Add logic for saving changes here
            // ...
        });
    </script>

</body>

</html>