<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Blue Pro</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="service-2 section">
		<table>
			<thead>
				<tr>
					<th>
						Start City
					</th>
					<th>
						Start State
					</th>
					<th>
						Time Leaving
					</th>
					<th>
						Date Leaving
					</th>
					<th>
						End City
					</th>
					<th>
						End State
					</th>
					<th>
						Spots Remaining
					</th>
					<th>
						Join Ride
					</th>

				</tr>
			</thead>
			<tbody>
				<% for (let iCount=0; iCount < surveyresults.length; iCount++) { %>
					<tr>
						<td>
							<%= surveyresults[iCount].survey_id %>
						</td>
                        <td>
							<%= surveyresults[iCount].time_stamp %>
						</td>
                        <td>
							<%= surveyresults[iCount].age %>
						</td>
                        <td>
							<%= surveyresults[iCount].location %>
						</td>
                        <td>
							<%= surveyresults[iCount].use_social %>
						</td>
                        <td>
							<%= surveyresults[iCount].time_spent_on_social_media %>
						</td>
                        <td>
							<%= surveyresults[iCount].frequency_of_social_media_distraction %>
						</td>

                        <td>
							<%= surveyresults[iCount].how_often_distracted %>
						</td>
                        <td>
							<%= surveyresults[iCount].feel_restless %>
						</td>
                        <td>
							<%= surveyresults[iCount].how_easily_distracted %>
						</td>
                        <td>
							<%= surveyresults[iCount].how_much_worry %>
						</td>
                        <td>
							<%= surveyresults[iCount].difficulty_concentrating %>
						</td>
                        <td>
							<%= surveyresults[iCount]. %>
						</td>
                        <td>
							<%= surveyresults[iCount].how_much_worry %>
						</td>
                        <td>
							<%= surveyresults[iCount].how_much_worry %>
						</td>

            's.difficulty_concentrating',
            's.how_often_compare',
            's.comparison_feelings',
            's.seek_validation_from_social_media',
            's.how_often_depressed',
            's.frequency_of_changing_interests',
            's.how_often_sleep_issues',
            'g.gender_description',
            'rs.relationship_status_description',
            'o.occupation_description',
            'og.organization_number',
            'og.organization',
            'sm.social_media_number',
            'sm.social_media_platform'
						
						<td>
							<a href="/joinride/<%= allRides[iCount].ride_id%>">Join Ride</a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
	</section>

            .from('survey as s')
            .leftJoin('gender as g', 's.gender_id', 'g.gender_id')
            .leftJoin('relationship_status as rs', 'rs.relationship_status_id', 's.relationship_status_id')
            .leftJoin('occupation as o', 'o.occupation_id', 's.occupation_id')
            .leftJoin('organization as og', 'og.survey_id', 's.survey_id')
            .leftJoin('social_media as sm', 'sm.survey_id', 's.survey_id')
      
            .then(surveyresults => {
                console.log(surveryresults);
                res.render("results", { surveyresults});
            })
    
    }
    );

    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>

    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->

    <script src="js/main.js"></script>



</body>

</html>