<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | View Accounts</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">
    <link rel="stylesheet" href="css/results.css">
    <link rel="stylesheet" href="css/accounts.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>

                                    <% } %>


                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div class="buffer" id="buffer"></div>
    <main class="site-content" role="main">

        <section class="container">
            <div class="account-title">
                <label for="">Create New Employee Account</label>
                <button><a href="/signup">HERE</a></button>
            </div>


            <div>
                <h2>Account Details</h2>
            </div>

            <table class="table-style">
                <thead>
                    <th>
                        User ID
                    </th>
                    <th>
                        First name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>


                    <th>
                        Edit
                    </th>

                    <th>
                        Delete
                    </th>

                </thead>
                <tbody>
                    <% for (let iCount=0; iCount < allAccounts.length; iCount++) { %>
                        <tr>
                            <td>
                                <%= allAccounts[iCount].user_id%>
                            </td>
                            <td>
                                <%= allAccounts[iCount].first_name%>
                            </td>
                            <td>
                                <%= allAccounts[iCount].last_name%>
                            </td>
                            <td>
                                <%= allAccounts[iCount].email%>
                            </td>
                            <td>
                                <%= allAccounts[iCount].username%>
                            </td>

                            <td>
                                <button class="edit-btn" data-user-id="<%= allAccounts[iCount].user_id %>">Edit</button>
                            </td>

                            <td>
                                <form action="/delete-user/<%= allAccounts[iCount].user_id %>" method="POST">
                                    <input type="submit" name="Delete" value="Delete" />
                                </form>>
                            </td>
                        </tr>
                        <tr class="edit-form" id="edit-form-<%= allAccounts[iCount].user_id %>" style="display: none;">
                            <td colspan="100%">
                                <form action="/modify-user" method="post" class="modify-user">
                                    <label for="">User ID</label>
                                    <input type="text" name="user_id" id="user_id"
                                        value="<%= allAccounts[iCount].user_id %>" readonly required>
                                    <label for="">First Name</label>
                                    <input type="text" name="first_name" value="<%= allAccounts[iCount].first_name%>"
                                        required>
                                    <label for="">Last name</label>
                                    <input type="text" name="last_name" value="<%= allAccounts[iCount].last_name%>"
                                        required>
                                    <label for="">Email</label>
                                    <input type="email" name="email" value="<%= allAccounts[iCount].email%>" required>
                                    <label for="">Username</label>
                                    <input type="text" name="username" value="<%= allAccounts[iCount].username%>"
                                        required>
                                    <label for="">Update Password</label>
                                    <input type="password" name="password" value="">



                                    <button type="submit" style="grid-column: 2;">Save Changes</button>
                                </form>


                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>


        </section>



    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-ms-4">
                    <h7>
                        <a href="">
                            <img class="img-fluid" src="images/logo.png" alt="">
                        </a>
                    </h7>
                </div>
            </div>
        </div>
    </footer>

    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2023, SOCIAL SENSE | PROVO CITY
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-center text-lg-left">
                        Designed and Developed By SOCIAL SENSE</a>
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>

    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->

    <script src="js/main.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var editButtons = document.querySelectorAll('.edit-btn');

            editButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var userId = this.getAttribute('data-user-id');
                    var editForm = document.getElementById('edit-form-' + userId);

                    // Toggle the display of the edit form
                    if (editForm.style.display === 'none') {
                        editForm.style.display = 'table-row';
                    } else {
                        editForm.style.display = 'none';
                    }
                });
            });

            // Add logic for saving changes here
            // ...
        });
    </script>







</body>

</html>